---
import { Image } from "astro:assets";
import steamLogo from "../../../public/icons/steam-logo.png";
import itchioLogo from "../../../public/icons/itch_io_logo_icon.png";

import { getI18N } from "../../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

interface Props {
  name: "Steam" | "Itch.io";
  link: string;
}

const { name, link } = Astro.props;
---

<a
  href={link}
  target="_blank"
  class={`flex justify-center items-center hover:shadow px-4 py-3 rounded-xl
   ${
     name === "Steam"
       ? "bg-lime-600 hover:bg-lime-500 hover:shadow-lime-500"
       : "bg-red-600 hover:bg-red-500 hover:shadow-red-500"
   }`}
>
  <!-- bg-lime-600 hover:bg-lime-500 hover:shadow-lime-500 -->
  <Image
    src={name === "Steam" ? steamLogo : itchioLogo}
    alt={`${name.toLocaleLowerCase()}-logo`}
    class={`mr-3 size-[40px] ${name === "Itch.io" && "invert"}`}
    loading={"eager"}
  />
  <span class="text-2xl font-semibold text-white"
    >{i18n?.Components.StoreButton} {name}</span
  >
</a>
