---
import { Image } from "astro:assets";

import SectionContainer from "../../containers/SectionContainer.astro";
import TextContainer from "../../containers/TextContainer.astro";

import screenshot from "../../../../public/screenshots/screenshot5.webp";

import { getI18N } from "../../../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<SectionContainer titles={i18n?.HomePage.IntroSection.Title}>
  <Image src={screenshot} alt={"Inco in school"} class={"rounded-xl"} />

  <TextContainer>
    <p set:html={i18n?.HomePage.IntroSection.text}>
    
    </p>
  </TextContainer>
</SectionContainer>
