---
import { Image } from "astro:assets";
import logo from "../../public/logo.png";

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<header
  class="flex flex-col items-center justify-center w-full min-h-[450px] gap-5 relative px-8"
>
  <h1>
    <Image
      src={logo}
      alt={"I Wani Hug That Gator - Logo"}
      class="w-full max-w-96"
      loading={"eager"}
    />
  </h1>

  <span class="text-xl font-semibold text-green-300 text-center"
    >{i18n?.Layout.Header.subTitle}</span
  >
</header>
