---
// import ContentContainer from "./ContentContainer.astro";
import SectionContainer from "./SectionContainer.astro";
import StoreButton from "./StoreButton.astro";
import TextContainer from "./TextContainer.astro";
import TrailerVideo from "./TrailerVideo.astro";
---

<SectionContainer>
  <TrailerVideo />
  <div class="flex flex-col md:flex-row gap-4">
    <StoreButton
      name="Steam"
      link="https://store.steampowered.com/app/1895350/I_Wani_Hug_that_Gator/"
    />
    <StoreButton
      name="Itchio"
      link="https://cavemanon.itch.io/i-wani-hug-that-gator"
    />
  </div>
  <TextContainer>
    <p class="max-w-[800px]">
      <span class="text-green-500"> I Wani Hug that Gator! </span>
      is a choice-driven narrative about teenagers struggling to find their way.
      Help Inco, loser highschooler extraordinaire, navigate his budding friendships
      (and romance!) while surviving being the only human in a dinosaur-filled school.
    </p>
  </TextContainer>
</SectionContainer>
