---
import { Image } from "astro:assets";
import soundtrackImg from "../../public/ost_cover_a.webp";
import TextContainer from "./TextContainer.astro";
---

<article class="w-full flex flex-col justify-center items-center p-4 gap-6">
  <Image src={soundtrackImg} alt={"Album Image"} class="w-[400px]" />

  <TextContainer className=" max-w-[450px]">
    <p class="text-xl">
      <span class="text-green-500"
        >Featuring over 3 hours of original songs,</span
      >
      this side contains the more scene specific and motif focused tracks. A collage
      of different genres and styles, from indie rock and electronic to modern composition
      and pop.
    </p>
  </TextContainer>
</article>
