---
import MusicItem from "./MusicItem.astro";
---

<section class="w-full flex flex-col">
  <h2>Awsome Soundtrack</h2>

  <div class="grid grid-cols-1 lg:grid-cols-2">
    <MusicItem />
    <MusicItem />
  </div>
</section>
