---
import MusicItem from "./MusicItem.astro";
import ostCoverA from "../../public/ost_cover_a.webp";
import ostCoverB from "../../public/ost_cover_b.webp";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer titles="Awsome Soundtrack">
  <div
    class="w-full grid items-start grid-cols-1 md:grid-cols-2 gap-12
     max-w-[1000px]"
  >
    <MusicItem
      image={ostCoverA}
      htext="Featuring over 3 hours of original songs,"
      text={`this side contains the more scene specific and motif focused tracks. A collage
        of different genres and styles, from indie rock and electronic to modern composition
        and pop.`}
    />
    <MusicItem
      image={ostCoverB}
      htext="Featuring the works of 8 musicians,"
      text={`this side is a compilation of free music used typically when the story relaxes; Has a bit of lo-fi, 
      electronica, rock, accoustics, and synthy goodness.`}
    />
  </div>
</SectionContainer>

<!-- <section class="w-full flex flex-col gap-6"></section> -->
