---
import { Image } from "astro:assets";
import soundtrackImg from "../../public/ost_cover_a.webp";
import TextContainer from "./TextContainer.astro";

interface Props {
  image: ImageMetadata;
  htext: string;
  text: string;
}

const { image, htext, text } = Astro.props;
---

<article
  class="w-full flex flex-col justify-center items-center gap-6 max-w-[400px]"
>
  <Image src={image} alt={"Album"} class="w-full" />

  <TextContainer className="max-w-[450px]">
    <p class="text-xl">
      <span class="text-green-500">{htext}</span>
      {text}
    </p>
  </TextContainer>
</article>
