---
interface Props {
  titles?: string;
}

const { titles } = Astro.props;
---

<section
  class="w-full flex flex-col gap-8 items-center px-8 lg:px-12 py-5 max-w-[1000px]"
>
  {
    titles && (
      <h2 class="text-center font-bold text-3xl md:text-4xl mb-2 md:mb-0 text-green-400">{titles}</h2>
    )
  }
  <slot />
</section>
